{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/pears.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/header.html' %}
<main>
    <div class="container">
        <h2>Диагностическое тестирование</h2>
        <div class="initiative-content">
            <h3>О проекте</h3>
            <p>Наше диагностическое тестирование — это передовой инструмент для оценки знаний и навыков детей с ограниченными возможностями здоровья, который автоматически адаптируется к индивидуальным особенностям каждого ребенка.</p>
            <h3 class="mt-2">Ключевые преимущества</h3>
            <ul>
                <li>Адаптивные алгоритмы, учитывающие особенности восприятия и обработки информации</li>
                <li>Широкий спектр оцениваемых навыков: от базовых академических до социально-эмоциональных</li>
                <li>Визуальная и аудиальная поддержка для улучшения понимания заданий</li>
                <li>Детальные отчеты с рекомендациями для родителей и специалистов</li>
            </ul>
        </div>
        <a href="{% url 'test_question' %}" class="btn btn-solid">Начать</a>
    </div>
</main>
{% endblock content %}
