{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/pears.css' %}">
{% endblock %}


{% block content %}
{% include 'includes/header.html' %}

<main>
    <div class="container">
        <h2>Pears — Обучающие сказки</h2>
        {% if error %}
        <h2>Ошибка генерации</h2>
        {% endif %}
        <div class="initiative-content">
            <h3>О проекте</h3>
            <p>Pears — это инновационная методика обучения детей с расстройствами аутистического спектра, использующая интерактивные сказки для развития речевых навыков и расширения словарного запаса.</p>
            <h3 class="mt-2">Основные особенности</h3>
            <ul>
                <li>Адаптивный алгоритм, подстраивающийся под индивидуальные потребности каждого ребенка</li>
                <li>Визуальная поддержка для облегчения понимания новых слов и выражений</li>
                <li>Интерактивные элементы, повышающие вовлеченность и мотивацию к обучению</li>
                <li>Система отслеживания прогресса для родителей и специалистов</li>
            </ul>
            <p>Pears помогает детям с аутизмом преодолеть трудности в коммуникации и социальном взаимодействии, делая процесс обучения увлекательным и эффективным.</p>
            <h3 class="mt-2">Инструкция</h3>
            <ol>
                <li>Введите тему, о которой будет рассказана сказка. Не обязательно ограничиваться одним сообщением!</li>
                <li>Нажмите кнопку «Далее», чтобы продолжить процесс</li>
                <li>Введите слово, которое ребенок должен выучить в ходе интерактивного процесса</li>
                <li>Нажмите кнопку «Сгенерировать», чтобы создать интерактивную сказку на основе введенной информации</li>
            </ol>
        </div>
        <div class="chat-container">
            <div class="chat-messages">
                <div id="chatMessages">
                    <!-- Chat messages will be displayed here -->
                    <p>— Добро пожаловать в чат с Pears!</p>
                    <p>Кратко опишите историю, которую мы расскажем в виде сказки, а затем нажмите «Далее»</p>
                </div>
                <div style="margin-top: 30px; margin-bottom: 10px;">
                    <button class="btn btn-outline d-none" id="cancelButton" onclick="cancel()">Отменить</button>
                    <button class="btn btn-solid d-none" id="nextStepButton" onclick="nextStep()">Далее</button>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" id="chatInput" placeholder="О чем будет ваша сказка?">
                <button onclick="sendMessage()">Отправить</button>
            </div>
        </div>
    </div>
</main>

<script>
    var wasMessages = false;
    var messagesContent = "";
    var newWord = "";

    function addMessage(message) {
        const chatMessages = document.getElementById('chatMessages');
        const messageElement = document.createElement('p');
        if (message.startsWith('— ')) {
            messageElement.className = "mt-1";
        }
        messageElement.textContent = message;
        chatMessages.appendChild(messageElement);
    }

    function sendMessage() {
        const input = document.getElementById('chatInput');
        const message = input.value.trim();
        input.value = '';
        if (message) {
            addMessage(`${wasMessages ? "" : "— "}${message}`);
            document.getElementById('nextStepButton').className = document.getElementById('nextStepButton').className.replace('d-none', '');
            if (wasMessages || (!wasMessages && messagesContent == "")) {
                messagesContent += `${message}\n`;
            } else {
                document.getElementById('cancelButton').className = document.getElementById('cancelButton').className.replace('d-none', '');
                newWord = message;
            }
            wasMessages = true;
        }
    }

    function cancel() {
        location.reload();
    }

    function nextStep() {
        if (newWord == "") {
            addMessage("— Супер! Теперь введите слово, которое ребенок должен выучить в ходе интерактивного процесса");
            document.getElementById('chatInput').placeholder = "Что должен выучить ребенок?";
            wasMessages = false;
            document.getElementById('nextStepButton').innerHTML = 'Сгенерировать';
            document.getElementById('nextStepButton').className += ' d-none';
        } else {
            // document.getElementById('nextStepButton').innerHTML = 'Ошибка подключения ИИ';
            location.replace(
                `{% url 'pears' %}?word=${encodeURIComponent(newWord)}&messages=${encodeURIComponent(messagesContent)}`
            );
        }
    }

    document.getElementById('chatInput').addEventListener('keypress', function(e) {
        if (e.key === 'Enter') {
            sendMessage();
        }
    });
</script>
{% endblock content %}
