# -------------------------- DEBUG SETTINGS ----------------------------
DEBUG=True
TEMPLATE_DEBUG=True

# ------------------------- SECURITY SETTINGS --------------------------
SECRET_KEY=VeRySeCrEtKeY
ALLOWED_HOSTS=mydomen.net
# Перенаправление с HTTP на HTTPS
SECURE_SSL_REDIRECT=False

# --------------------------- HSTS SETTINGS ----------------------------
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

# --------------------------- CSRF SETTINGS ----------------------------
# Установить флаг Secure для CSRF-cookie
CSRF_COOKIE_SECURE=False

# Домен для CSRF-cookie
CSRF_COOKIE_DOMAIN=


# ------------------------- SESSION SETTINGS ---------------------------
# Домен, используемый для сессионных файлов cookie
SESSION_COOKIE_DOMAIN=
SESSION_COOKIE_SECURE=False


# -------------------------- CACHE SETTINGS ----------------------------
# CACHE_URL=redis://localhost:6379/1


# --------------------------- CORS SETTINGS-----------------------------
# Список доменов, с которых разрешены запросы
CORS_ALLOWED_ORIGINS=mydomen.net

# Разрешить запросы со всех доменов
CORS_ALLOW_ALL_ORIGINS=False

# Разрешить передачу учетных данных (cookies, HTTP-аутентификация)
CORS_ALLOW_CREDENTIALS=True


# ------------------------- DATABASE SETTINGS --------------------------
USE_SQLITE=True
USE_PSQL=False

DB_POSTGRESQL_HOST=127.0.0.1
DB_POSTGRESQL_PORT=5432
DB_POSTGRESQL_NAME=DB_Name
DB_POSTGRESQL_USER=Login
DB_POSTGRESQL_PASSWORD=PaSsWoRd


# --------------------------- PROXY SETTINGS ---------------------------
AI_PROXY=


# ------------------------- ANTHROPIC SETTINGS -------------------------
ANTHROPIC_API_KEY=

# -------------------------- EMAIL SETTINGS ----------------------------
DEFAULT_FROM_EMAIL=no-reply@mydomen.net
ADMINS=[("Igor", "admin@mydomen.net")]
EMAIL_HOST=mail.hosting.mydomen.net
EMAIL_PORT=587
EMAIL_HOST_USER=no-reply@mydomen.net
EMAIL_HOST_PASSWORD=MyPaSsWoRd
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
